C:\Users\eliza\AppData\Local\Microsoft\VisualStudio\17.0_b6e1e939\OpenFolder

C:\Users\eliza\Source\Repos\MFDP-Elizaveta-Zimina\.vs

C:\Users\eliza\Source\Repos\MFDP-Elizaveta-Zimina\.git

 .vs/

 logs/

 .env

